<button hx-get="{% url 'deck_add_form'  %}" hx-swap="outerHTML" class="text-blue-500">
    <div class="bg-white p-4 text-center rounded-lg shadow-md w-64 hover:bg-gray-200">
        <div class=" text-center">

            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="IconChangeColor" height="3.6rem" width="3.6rem"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" id="mainIconPathAttribute" fill="green" stroke-width="0.3" stroke="#ff0000"></path></svg>

        </div>
        <p>Add</p>
    </div>
</button>