{% load django_htmx %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %} {% endblock title %}
    </title>

    

    {% htmx_script %}

    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; 
     
        background: #303436;
       
      }
      svg{
        display: inline;
      }

      

      {% block style %}
    
    {% endblock style %}

    </style>  

  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block content %} {% endblock content %}

    
  </body>
</html>
