
<p id="cardQuestion" class="text-center text-lg text-pink-300 mb-4">{{ card.question }}</p>
<div  class="border-t border-pink-500 pt-4 space-y-2">
    <p id="cardAnswer" class="text-white"><span class="font-semibold text-pink-300">Answer:</span> {{ cards.answer }}</p> 
</div>
<div class="mt-6 flex justify-center space-x-4">
    
    <button class="bg-gradient-to-r from-pink-500 to-purple-500 hover:from-pink-600 hover:to-purple-600 text-white text-2xl font-bold py-2 px-8 rounded-full transition duration-300 ease-in-out transform hover:scale-105 neon-border"
    hx-get="{% url 'card_detail'  %}"
    hx-trigger="click"
    hx-target="#card"
    hx-swap="outerHTML"
    >
        <i class="ri-arrow-left-double-fill"></i>
    </button>
    <button class="bg-gradient-to-r from-blue-500 to-teal-500 hover:from-blue-600 hover:to-teal-600 text-white text-2xl font-bold py-2 px-8 rounded-full transition duration-300 ease-in-out transform hover:scale-105 neon-border">
        <i class="ri-arrow-right-double-fill"></i>
    </button>
</div>
